.box{
  height: 100px;
  width: 300px;
  background-color: pink;

  /* animation-name: sizeAnimate, bgAnimate, widthAnimate;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite; */

  animation: sizeAnimate 3s ease-in-out 0s 3, bgAnimate 3s ease-in-out 0s 3,
             widthAnimate 3s ease-in-out 0s 3;
}

@keyframes bgAnimate{
  from{background-color: pink;
  }
  to{background-color: purple;
    border-radius: 15px;
  }
}
@keyframes sizeAnimate{
  from{font-size: 30px;
  }
  to{font-size: 50px;
    box-shadow: 20px 15px 9px black;
  }
}
@keyframes widthAnimate{
  from{width: 300px;
  }
  to{width: 500px;
    transform: translate(200px,400px);
  }
}

.me{
  background-color: yellow;
  border: 2px solid black;
}

@media (min-width: 300px) and (max-width:600px){
  .me{
    background-color: orange;
  }
}
@media (min-width: 600px) and (max-width:900px){
  .me{
    background-color: red;
  }
}