#outer{
    height: 400px;
    width: 400px;
    border: 3px solid grey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
    border-radius: 5%;
}
#outer div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    font-size: 50px;
    text-align: center;
    background-color: darkgray;
    align-content: flex-start;
    border-radius: 10%;
}

#navbar{
    height: 50px;
    width: 900px;
    border: 3px solid lightblue;
    border-radius: 15%;
    display: flex;
    background-color: pink;
}
#navbar div{
    height: 50px;
    width: 80px;
    display: inline-block;
    font-size: 24px;
    justify-content: space-evenly;
    justify-content: flex-start;
    align-content: center;
}
input{
    height: 20px;
    width: 50px;
}