.h1{
    text-align: center;
}
.grid{
    height: 300px;
    width: 800px;
    background-color: lightblue;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px 20px;
    
}
.item{
    /* height: 50px;
    width: 200px; */
    background-color: #adff2f;
    border: 2px solid black;
    text-align: center;
    /* grid-column: 1/3; */
}

body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
.main{
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}
.sidebar{
  width: 340px;
  border-radius: 1rem;
  background-color: #000;
  margin-right: 0.5rem;

}
.main-content{
  background-color: #121212;
  flex: 1;
  overflow: auto;
  border-radius: 1rem;
  padding: 0 1.5rem 0 1.5rem;
}
.music-player{
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 72px;
}
a{
  text-decoration: none;
  color: white;
}
.nav{
  background-color: #121212;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0.5em 0.75rem;

}
.home{
  line-height: 3.0rem;
  opacity: 0.7;
  padding: 0.5rem;
}
.home i{
  font-size: 1.25rem;

}
.home a{
  font-size: 1rem;
  margin-left: 1rem;
}
.home:hover{
  opacity: 1;
}
.library{
  background-color: #121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  padding: 0.5em 0.75rem;
}
.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lib-options img{
  height: 1.25rem;
  width: 1.25rem;
}
.icons{
  font-size: 1.25rem;
  display: flex;
}
.icons i{
  opacity: 0.7;
  margin-right: 1rem;
}
.icons i:hover{
  opacity: 1;
}
.box{
  padding: 0.5rem 1rem;
  margin: 0.75rem 0 1.75rem 0;
  height: 8rem;
  background-color: #232323;
  border-radius: 0.75rem;
}
.box-p1{
  font-size: 1rem;
  font-weight: 500;
}
.box-p2{
  font-size: 0.85rem;
  opacity: 0.9;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.sticky-nav{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  padding: 1rem 1rem 1rem 1rem;
  z-index: 1;
}
.sticky-nav-options{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky-nav-options button{
  margin-right: 1rem; 
}
@media (max-width: 1000px){
  .hide{
    display: none;
  }
}
.card{
  background-color: #232323;
  width: 150px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
}
.card-img{
  width: 100%;
   border-radius: 0.5rem;
}
.card-title{
  font-weight: 600;
}
.card-info{
  font-size: 0.85rem;
  opacity: 0.5;
}
.music-player{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.album{
  width: 25%;
}
.player{
  width: 50%;
}
.controls{
  width: 25%;
}
.player_controls{
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-control-icon{
  height: 1rem;
  margin-right: 2rem;
  opacity: 0.7;
}
.player-control-icon:hover{
  opacity: 1;
}
.playback_bar{
  display: flex;
  justify-content: center;
  align-items: center;  
}
.progress_bar{
  width: 70%;
  height: 0.2rem;
}